/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* RESET ENDS */



* {
    font-family: sans-serif;
    box-sizing: border-box;
    --y-green: #95d600;
    --y-grey: #333431;
    --y-medium-grey: #e4e3e4;
    --y-light-grey: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--y-light-grey);
    color: var(--y-grey);
}

a {
	text-decoration: none;
	color: var(--y-green);
}

.App {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ///////////// */
/* HEADER STYLES */
/* ///////////// */
.header {
    background-color: var(--y-grey);
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--y-green);
    margin-bottom: 5px;
    justify-content: space-between;
    padding: 20px;
    z-index: 10000;
}

.main-heading {
    color: white;
    padding: 8px 14px;
    margin: 10px;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid var(--y-green);
}

.main-heading span {
    color: var(--y-green);
    font-weight: 500;
}

.menu-button-container {
    padding: 10px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.main-nav-link {
    padding: 10px;
    font-weight: bold;
}

.main-nav-link.active {
    text-decoration: underline;
}
/* ///////////// */
/* HEADER STYLES */
/* ///////////// */

.App .home {
	height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.App .home {
	height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	padding: 20px;
}

.about > h4 {
	margin: 30px 0 20px;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 1.1px;
}

.about > p {
	width: auto;
	max-width: 700px;
	margin: 20px 0;
	letter-spacing: 1px;
	text-align: justify;
	font-weight: 300;
}

.tagline {
    letter-spacing: 1px;
	line-height: 1.4rem;
	text-align: center;
    font-size: 1.1rem;
	font-weight: 300;
    margin: 30px;
    font-style: italic;
}


/* ////////////// */
/* MAIN SCHEDULES */
/* ////////////// */
.main-schedules-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-schedules {
    display: flex;
    flex-direction: column;
    color: var(--y-grey);
    padding: 15px;
    width: 100%;
    max-width: 750px;
}
/* ////////////// */
/* MAIN SCHEDULES */
/* ////////////// */

/*////////////*/
/* UNI STYLES */
/*////////////*/
.uni {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border-left: 10px solid var(--y-green);
    margin: 10px 0;
    padding: 20px 15px;
	width: 100%;
    box-shadow: 1px 1px 3px 0px var(--y-grey);
}

.uni h2 {
    color: var(--y-green);
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.uni h3 {
    padding: 10px;
}

.uni ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.spinner {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 3px solid var(--y-green);
    border-top: 3px solid var(--y-grey);
    animation: 1s spinner linear infinite;
    margin: 20px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    max-width: 250px;
    max-height: 90px;
    width: 85%;
    height: auto;
    margin: 30px 10px;
}

.single-route {
	margin: 10px 0;
	padding: 15px;
	width: 100%;
	border-left: 5px solid var(--y-green);
	box-shadow: 1px 1px 4px -1px var(--y-grey);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.single-route h5 {
	margin-right: 20px;
}

.single-route h5 span {
	text-transform: uppercase;
}

.single-route .fa-bus {
	color: var(--y-green);
	font-size: 2rem;
	padding: 20px 40px 20px 20px;
}

.single-route-info {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.3rem;
	margin-left: 13px;
}

.single-route-info p {
	margin: 7px;
}

footer {
    background-color: var(--y-grey);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    border-top: 5px solid var(--y-green);
    margin-top: 15px;
}

footer .y-logo img {
    padding: 0;
    margin: 0;
    height: 40px;
    width: auto;
}

footer .copyright a {
    color: var(--y-green);
    text-decoration: none;
}

.f-elem {
    padding: 30px 40px;
}

footer, header {
    box-shadow: 0px 0px 4px 0px var(--y-grey);
}

@media screen and (max-width: 850px) {
    .hamburger {
        display: block;
        color: var(--y-green);
        font-size: 2rem;
        font-weight: 100;
        transition: .2s linear transform;
    }

    .hamburger.open {
        transform: rotate(-90deg);
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 110px;
        text-align: right;
        z-index: 9999;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: .2s linear max-height;
    }

    .main-nav.open {
        height: auto;
        max-height: 70vh;
        box-shadow: 0px 13px 13px -13px black;
    }

    .main-nav-link {
        width: 100vw;
        padding: 20px;
        background-color: var(--y-light-grey);
        border-bottom: 2px solid var(--y-green);
    }

    .main-nav-link.active {
        background-color: var(--y-medium-grey);
        text-decoration: none;
    }
}

@media screen and (max-width: 500px) {
    .main-schedules {
        padding: 3px;
    }

    .uni {
        margin: 10px 0px;
        padding: 20px 5px;
    }

    .single-route {
        padding: 10px;
        margin: 5px;
    }
}
