/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* RESET ENDS */



* {
    font-family: sans-serif;
    box-sizing: border-box;
    --y-green: #95d600;
    --y-grey: #333431;
    --y-light-grey: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--y-light-grey);
    color: var(--y-grey);
}

a {
	text-decoration: none;
	color: var(--y-green);
}

.App {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.App > h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 30px;
}

.bus-schedules {
    /*flex: 1 1 auto;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    color: var(--y-grey);
    align-content: stretch;
}

.uni {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*justify-content: center;*/
    align-items: center;
    border-left: 10px solid var(--y-green);
    margin: 10px;
    padding: 20px 15px;

    /*width: auto;
    min-width: 300px;
    max-width: 350px;*/
    box-shadow: 1px 1px 3px 0px var(--y-grey);
}

.uni h2 {
    color: var(--y-green);
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.uni h3 {
    padding: 10px;
}

.uni ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.uni .spinner {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid var(--y-green);
    border-top: 3px solid var(--y-grey);
    animation: 1s spinner linear infinite;
    margin: 30px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    max-width: 250px;
    max-height: 90px;
    width: 85%;
    height: auto;
    margin: 30px 10px;
}

.single-route {
	margin: 10px 0;
	padding: 15px;
	width: 100%;
	border-left: 5px solid var(--y-green);
	box-shadow: 1px 1px 4px -1px var(--y-grey);
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	flex-wrap: wrap;
}

.single-route h5 {
	margin-right: 20px;
}

.single-route h5 span {
	text-transform: uppercase;
}

.single-route .fa-bus {
	color: var(--y-green);
	font-size: 2rem;
	padding: 20px 40px 20px 20px;
	/*padding-left: 30px;*/

}

.single-route-info {
	display: flex;
	flex-wrap: wrap;
	/*margin: 0 30px;*/
	line-height: 1.3rem;
	margin-left: 13px;
}

.single-route-info p {
	margin: 7px;
}

header {
    background-color: var(--y-grey);
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--y-green);
    margin-bottom: 5px;
}

header h1 {
    color: white;
    padding: 8px 14px;
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid var(--y-green);
}

header h1 span {
    color: var(--y-green);
    font-weight: 500;
}

footer {
    background-color: var(--y-grey);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    border-top: 5px solid var(--y-green);
    margin-top: 15px;
}



/*footer .y-logo {
    padding: 0;
    margin: 0;
}*/

footer .y-logo img {
    padding: 0;
    margin: 0;
    height: 40px;
    width: auto;
}

footer .copyright a {
    color: var(--y-green);
    text-decoration: none;
}

.f-elem {
    padding: 30px 40px;
}

footer, header {
    box-shadow: 0px 0px 4px 0px var(--y-grey);
}
